/*=== GERAL ====================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    font-family:'Montserrat', sans-serif;
    font-size: 1.6rem;

    overflow-x: hidden;
  }
  
  
  ul {
    list-style: none;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }

  .wrapper {
    width: min(50rem, 100%);
    background-color: #101010;
    margin-inline: auto;
    padding-inline: 2.4rem;
  }

  .button {
    background: #179df7;
    border: none;
    
    padding: 1rem 3rem;
    width: fit-content;

    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 3.2rem;
    height: 0.2rem;
    background-color: #fff;
    margin: .8rem;
  }

  /* CUSTOM COLORS */

  

  /* NAV ====================== */

  nav {
    display: flex;

    width: 100vw;
    height: 7.2rem;
    position: fixed;
    top: 0;
  }

  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  nav .logo {
    color: #fff;
    font-weight: 700;
  }

  nav .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;

    top: 9vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    gap: 1.4rem;
    background: #101010;

    transform: translateX(100%);
    transition:  transform 0.4s ease-in;
  }

  .menu.active {
    transform: translateX(0);
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


  nav .menu ul li{
    opacity: 0;
    margin-top: 4rem;
  }

  nav .menu a {
    color: #fff;
    text-transform: uppercase;
    
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1rem;

    margin-block: 2rem;
  }

  nav .menu ul li a:hover {
    color: #7fc7f7;
    transition: 300ms
  }

  nav .button:hover {
    background-color: #0063a5;
    transition: background 300ms
  }

  /* SECTION 1 ==================================== */
  #intro {
    width: 100vw;
  }

.content-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96vh;

    color: #fff;
}

.bg-logo {
    margin-top: 20rem;
    width: 4rem;
    height: 4rem;
    background-color: tomato;
}

.content-a h4 {
    margin-top: 8rem;
    text-align: center;
    font-size: 4rem;
}

.bg-person {
    display: flex;
    justify-content: flex-end;

    margin-top: -4rem;
}

.bg-person img {
    width: 26.4rem;
}


  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }