/*=== GERAL ====================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    font-family:'Montserrat', sans-serif;
    font-size: 1.6rem;
  }
  
  
  ul {
    list-style: none;
  }

  li {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }

  .container {
    width: 100%;
    height: 85rem;
    background-color: #179df7;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 3.2rem;
    height: 0.2rem;
    background-color: #fff;
    margin: .8rem;
  }

  .btn-mobile {
    display: none;
  }

  /* HEADER ==================================== */

  header.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;

    background-color: #101010;
    width: 100%;
    height: 9rem;
    gap: 4rem;
  }

  header.menu a {
    color: #fff;
    text-decoration: none;
  }

  header div.logo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-right: auto;
  }

  header nav.menu-nav {
    display: flex;
    flex-wrap: wrap;
  }

  header nav.menu-nav ul {
    display: flex;
  }

  header nav.menu-nav a {
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.5rem;
    
  }

  header nav.menu-nav a:hover {
    color: #7fc7f7;
    transition: 250ms
  }


  header div.btn-agende {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;

    background-color:#179df7;
    margin-right: 8rem;

    cursor: pointer;
  }

  header div.btn-agende:hover {
    background-color: #0071bd;
    transition: background 250ms;
  }

  header div.btn-agende a {
    padding: 1rem 3.2rem;
  }

/* SECTION 1 ==================================== */
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 2rem;
  
}

.prim-coluna {
  
  width: 50%;
}

.prim-coluna h1 {
  color: #fff;
  width: 50rem;
  font-size: 6rem;

  margin-top: 38rem;
  margin-left: 16rem;
}

.seg-coluna {
  margin-top: 10.8rem;
  width: 50%;
}
/* FIM SECTION 1 ==================================== */

  @media screen and (min-width: 480px) and (max-width: 998px) { 
    body {
      overflow-x: hidden;
    }

    .container {
      width: 100%;
      height: 74.9rem;
      background-color: #179df7;
    }

  header.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #101010;
    height: 10rem;
    gap: 0;
    
  }

  header.menu a {
    color: #fff;
    text-decoration: none;
  }

  .mobile-menu {
    display: block;
    margin-left: 20rem;
  }


  header div.logo {
    display: block;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  header nav.menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;

    top: 17vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: #101010;
    transform: translateX(100%);
    transition:  transform 0.4s ease-in;
  }

  .menu-nav.active {
    transform: translateX(0);
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  header nav.menu-nav ul li {
  opacity: 0;
  margin-block: 4rem;
  }


  header nav.menu-nav a {
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;  
  }

  header nav.menu-nav ul li a:first-child:hover {
    color: #7fc7f7;
    transition: 250ms
  }
  
  header div.btn-mobile {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;

    background-color:#179df7;
    margin-right: 0rem;

    cursor: pointer;
  }
  
  header div.btn-mobile:hover {
    background-color: #0071bd;
    transition: background 250ms;
  }
  

  header div.btn-agende {
    display: none;
  }

  /* SECTION 1 ==================================== */

.intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;  
}

.prim-coluna {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color: #179df7;
  margin: auto;
  
  width: 100%;
  
}

.bg-logo {
  width: 5rem;
  height: 5rem;
  margin-block: 10rem;
  background-color: tomato;
}

.prim-coluna h1 {
  color: #fff;
  width: 50rem;
  font-size: 3.8rem;

  margin-top: 0rem;
  margin-left: 0rem;
  
}

.seg-coluna {
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  

  margin-top: 6rem;
  max-width: 100%;
  height: 20rem;
  
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}